spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        '[format_sql]': true
  flyway:
    enabled: true
    locations: classpath:db/migration
logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc.datasource: DEBUG
jwt:
  secret: CHANGE_ME_SUPER_SECRET_KEY_256_BITS_MINIMUM
  expiration-ms: 3600000

server:
  port: 8080
