spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/your_db_name
    username: your_db_user
    password: your_db_password

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        '[format_sql]': true
  flyway:
    enabled: true
    locations: classpath:db/migration

  jwt:
    secret: CHANGE_ME_SUPER_SECRET_KEY_256_BITS_MINIMUM
    expiration: 3600000

server:
  port: 8080
